<p id="notice"><%= notice %></p>

<h1>Forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>XML Form</th>
      <th colspan="3">actions</th>
    </tr>
  </thead>

  <tbody>
    <% forms.each do |xml_form| %>
      <tr>
        <td><%= xml_form.name %></td>
        <td><%= xml_form.document_file_name %></td>
        <td><%= link_to 'Show', form_path(xml_form) %></td>
        <td><%= link_to 'Edit', edit_form_path(xml_form) %></td>
        <td>
          <%= link_to form_path(xml_form), data: { confirm: 'Are you sure?' }, method: :delete do %>
            destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_form_path %>
